# OS artifacts
.DS_STORE

# Tools artifacts
node_modules
coverage
.eslintcache
*.log
*.pem
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo
dump.rdb
logfile
.sfdx
.sf

# Project artifacts
__benchmarks_results__/
testing_dev/

# Builds
packages/*/build/
packages/*/dist/

# Generated Page Objects
**/pageObjects/

# Generated Utils
**/utils/

# Generated .env
.env
**.env

# npmrc
.npmrc

# Generated JSON files
utam-generator/__utam__/**.json
utam-generator/__generated__/**.json
# HTML sources
utam-generator/src/**

# Generated sarif reports
**/utam-lint.sarif
